.wrapper {
    padding: 4em;
    padding-bottom: 0;
}

.currency_selector {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: .5rem;
    border: 0;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: red;
    color: black;
    font-family: inherit;
    color: inherit;
}

.currency_amount {
    text-align: right;
}

.currency_addon {
    width: 6em;
    text-align: left;
    position: relative;
}