<html>
  <body>
    <form method="POST" id="myForm" action="https://centinelapistag.cardinalcommerce.com/V2/Cruise/StepUp">
      <input
        type="text"
        name="JWT"
        value="eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI4Njk0YjMxZS1mNTY4LTQyMGItYmVjNC05MTUyZDY3MjBmNTYiLCJpYXQiOjE2ODg5OTcwMzcsImlzcyI6IjVmZTIwZDBkNmJiMzg0MzJlYjgzNjRiOCIsIk9yZ1VuaXRJZCI6IjU1ZWYzZjgyZjcyM2FhNDMxYzk5ZTJlNiIsIlJldHVyblVybCI6Imh0dHBzOi8vNjFlZC0yLTMxLTE0OC0xNDcubmdyb2stZnJlZS5hcHAvYXBpL3YxL2ludGVyc3dpdGNoL3Zpc2EtY2FsbGJhY2siLCJSZWZlcmVuY2VJZCI6IlNQT1VUfDcwZWU2OTEyIiwiUGF5bG9hZCI6eyJBQ1NVcmwiOiJodHRwczovLzBtZXJjaGFudGFjc3N0YWcuY2FyZGluYWxjb21tZXJjZS5jb20vTWVyY2hhbnRBQ1NXZWIvY3JlcS5qc3AiLCJQYXlsb2FkIjoiZXlKdFpYTnpZV2RsVkhsd1pTSTZJa05TWlhFaUxDSnRaWE56WVdkbFZtVnljMmx2YmlJNklqSXVNaTR3SWl3aWRHaHlaV1ZFVTFObGNuWmxjbFJ5WVc1elNVUWlPaUkyTVRZd1pqZ3laUzB4TVRWbExUUTBOR1F0WVdNeU55MHdZVEkxTWpnMlltTXdPVGtpTENKaFkzTlVjbUZ1YzBsRUlqb2lOamcyWkdSaFlUa3RaalZpWmkwME9XSTFMV0U0TURndFpqQTBaRGhoTlROa016SmxJaXdpWTJoaGJHeGxibWRsVjJsdVpHOTNVMmw2WlNJNklqQXlJbjAiLCJUcmFuc2FjdGlvbklkIjoic0FSYUt6djloalp0RlFZV21MZjAifSwiT2JqZWN0aWZ5UGF5bG9hZCI6dHJ1ZX0.5lVKqPNff5sjTVcPmjPRlTlTjXlaxVDj4yw6oHk_lII"
        placeholder="JWT"
      />
      <input type="text" name="MD" value="474498438" placeholder="MD" />
      <input type="submit" value="Cardinal" id="" />
    </form>
  </body>
  <html></html>
</html>